* {
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    margin: 0;
    /* font-family: Montserrat, sans-serif; */
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'WF Visual Sans', sans-serif;
    color: #4b4b4b;
    /* text-transform: uppercase; */
    text-align: justify;
    word-break: normal;
    /* background-color: #d4d5d8ef; */
    background-image: url('../img/lincoln_bg_cropped.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

.landing-page {
    opacity: 1.0;
    display: flex;
    justify-content: center;
}

section {
    /* height: 100vh; */
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
    padding-top: 8vh;
    /* position: relative; */
    /* box-sizing: content-box; */
}

section:first-child {
    background-color: rgba(192, 184, 214, 0.85);
    height: 100vh;
    /* background: rgba(0, 0, 255, 0.86); */
}

section:nth-child(2n) {
    background-color: rgba(179, 194, 206, 0.95);
}

section:nth-child(2n+1) {
    background-color: rgba(179, 194, 206, 0.85);
}

section:last-child {
    background: rgba(52, 131, 151, 0.89);
    color: white;
}

.last-section {
    height: 100vh;
}

.ecosystem-title {

    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation: fadeIn 5s;
}

.community-title {

    color: #4b4b4b;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    animation: fadeIn 2s;
}

.ecosystem-image {
    display: block;
    width: 100%;
    animation: fadeIn 3s;
}

.company-desc-bg {
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.company-desc-img {
    margin: 0 auto;
    margin-bottom: 1em;
    display: block;
    border-radius: 5px;
    width: 90%;
}

.product-desc-bg {
    background-color: rgba(240, 248, 255, 0.7);
    border-radius: 3px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0.95)
    }

    100% {
        transform: scale(1);
    }
}

a {
    font-weight: bold;
    color: #4b4b4b;
    text-decoration: none;
}

p {
    font-size: small;
}

.carla-bg {
    background-size: cover;
    background-image: url('/img/lincoln_carla.png');
}

.page-flex-container {
    display: flex;
    flex-direction: row;
}

.page-flex-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
}

.page-flex-column-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    
    flex-basis: 0;
    /* width: 100%; */
    /* overflow: hidden;
    white-space: nowrap;  */
}

.remove-column {
    position: absolute;
    transform: scale(0,1);
}

@media only screen and (min-width: 768px) {

    .spacer {
        height: 8vh;
    }

    .page-flex-column-right {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 0;
        /* min-width: 100%;  */
        /* padding-left: 20%; */
    }
    .last-section-mobile {
        position: absolute;
        transform: scale(0);
    }


}

@media only screen and (max-width: 767px) {

    .page-flex-column-right {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 0;
        /* min-width: 100%;  */
        padding-left: 20%;
        position: absolute;
        transform: scale(0,0);
    }

    .last-section-desktop {
        position: absolute;
        transform: scale(0);
    }

}



.page-flex-item {
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    /* flex-basis: 0; */
    justify-content: center;
    align-items: center;
}

.page-flex-item-1 {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
}

.landing-page img {}

section h1 {
    font-size: 3em;
}

section p {
    font-size: 1.1em;
}

.company-desc {
    font-size: 0.9em;
    text-align: justify;
}

.product-desc {
    font-size: 0.9em
}

.custom-p {
    opacity: 0;
    transition: opacity 5s;
}

.transparent-transition {
    opacity: 0;
    transition: opacity 4s;
}

.transparent-transition-fast {
    opacity: 0;
    transition: opacity 2s;
}

.opacity-full {
    opacity: 1;
}

.opacity-full p {
    opacity: 1;
}

.opacity-full h {
    opacity: 1;
}

.text-box {
    padding-left: 1em;
    padding-right: 1em;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.text-right {
    text-align: right;
    justify-content: right;
}

.text-left {
    text-align: left;
    justify-content: left;
}

.text-justify {
    text-align: justify;
}

.text-right p {
    text-align: right;
    justify-content: left;
}

.product-desc-1 {
    font-size: 0.6em;
    text-align: justify;
}

.iai-video {
    width: 90%;
    border-radius: 5px;
}

.lower-border {
    border-bottom: #808080 2px solid;
}

.social {
    color: white;
    display: inline;
    font-size: 1.5em;
    margin-right: 1em;
}





